@font-face {
  font-family: 'KnockoutJuniorFlyweight';
  src: local('KnockoutJuniorFlyweight'), url('../assets/fonts/Knockout-HTF26-JuniorFlyweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutJuniorBantamwt';
  src: local('KnockoutJuniorBantamwt'), url('../assets/fonts/Knockout-HTF27-JuniorBantamwt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutJuniorFeatherwt';
  src: local('KnockoutJuniorFeatherwt'), url('../assets/fonts/Knockout-HTF28-JuniorFeatherwt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutJuniorLiteweight';
  src: local('KnockoutJuniorLiteweight'), url('../assets/fonts/Knockout-HTF29-JuniorLiteweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutJuniorWelterwt';
  src: local('KnockoutJuniorWelterwt'), url('../assets/fonts/Knockout-HTF30-JuniorWelterwt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutJuniorMiddlewt';
  src: local('KnockoutJuniorMiddlewt'), url('../assets/fonts/Knockout-HTF31-JuniorMiddlewt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutJuniorCruiserwt';
  src: local('KnockoutJuniorCruiserwt'), url('../assets/fonts/Knockout-HTF32-JuniorCruiserwt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutJuniorHeviwt';
  src: local('KnockoutJuniorHeviwt'), url('../assets/fonts/Knockout-HTF33-JuniorHeviwt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutJuniorSumo';
  src: local('KnockoutJuniorSumo'), url('../assets/fonts/Knockout-HTF34-JuniorSumo.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutFlyweight';
  src: local('KnockoutFlyweight'), url('../assets/fonts/Knockout-HTF46-Flyweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutBantamweight';
  src: local('KnockoutBantamweight'), url('../assets/fonts/Knockout-HTF47-Bantamweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutFeatherweight';
  src: local('KnockoutFeatherweight'), url('../assets/fonts/Knockout-HTF48-Featherweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutLiteweight';
  src: local('KnockoutLiteweight'), url('../assets/fonts/Knockout-HTF49-Liteweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutWelterweight';
  src: local('KnockoutWelterweight'), url('../assets/fonts/Knockout-HTF50-Welterweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutMiddleweight';
  src: local('KnockoutMiddleweight'), url('../assets/fonts/Knockout-HTF51-Middleweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutCruiserweight';
  src: local('KnockoutCruiserweight'), url('../assets/fonts/Knockout-HTF52-Cruiserweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutHeviweight';
  src: local('KnockoutHeviweight'), url('../assets/fonts/Knockout-HTF53-Heviweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutSumo';
  src: local('KnockoutSumo'), url('../assets/fonts/Knockout-HTF54-Sumo.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutFullFlyweight';
  src: local('KnockoutFullFlyweight'), url('../assets/fonts/Knockout-HTF66-FullFlyweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutFullBantamwt';
  src: local('KnockoutFullBantamwt'), url('../assets/fonts/Knockout-HTF67-FullBantamwt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutFullFeatherwt';
  src: local('KnockoutFullFeatherwt'), url('../assets/fonts/Knockout-HTF68-FullFeatherwt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutFullLiteweight';
  src: local('KnockoutFullLiteweight'), url('../assets/fonts/Knockout-HTF69-FullLiteweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutFullWelterwt';
  src: local('KnockoutFullWelterwt'), url('../assets/fonts/Knockout-HTF70-FullWelterwt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutFullMiddlewt';
  src: local('KnockoutFullMiddlewt'), url('../assets/fonts/Knockout-HTF71-FullMiddlewt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutFullCruiserwt';
  src: local('KnockoutFullCruiserwt'), url('../assets/fonts/Knockout-HTF72-FullCruiserwt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutFullHeviweight';
  src: local('KnockoutFullHeviweight'), url('../assets/fonts/Knockout-HTF73-FullHeviweight.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutFullSumo';
  src: local('KnockoutFullSumo'), url('../assets/fonts/Knockout-HTF74-FullSumo.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutUltmtWelterwt';
  src: local('KnockoutUltmtWelterwt'), url('../assets/fonts/Knockout-HTF90-UltmtWelterwt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutUltmtMiddlewt';
  src: local('KnockoutUltmtMiddlewt'), url('../assets/fonts/Knockout-HTF91-UltmtMiddlewt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutUltmtCruiserwt';
  src: local('KnockoutUltmtCruiserwt'), url('../assets/fonts/Knockout-HTF92-UltmtCruiserwt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutUltmtHeviwt';
  src: local('KnockoutUltmtHeviwt'), url('../assets/fonts/Knockout-HTF93-UltmtHeviwt.otf') format('woff');
}
@font-face {
  font-family: 'KnockoutUltmtSumo';
  src: local('KnockoutUltmtSumo'), url('../assets/fonts/Knockout-HTF94-UltmtSumo.otf') format('woff');
}
@font-face {
  font-family: 'Komikax';
  src: local('Komikax'), url('../assets/fonts/Komikax.ttf') format('truetype');
}
